.condition {
  &__container {
    margin-bottom: 30px;
  }

  &-item {
    &:not(:last-child){
      margin-bottom: 50px;
    }
    &__box {
      filter: drop-shadow(0px 0px 10px #FF7E07);
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 30px;
    }
    &__text{
      font: 400 20px/24px  var(--font);
    }
  }
}